<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div id="header">
        <a href="" class="add-note">
            <span class="fa fa-plus"></span> 添加
        </a>
        <ul class="user-area">
            <li>
                <a class="login" title="GitHub登录" href="/auth/github">
                    <span class="fa fa-github"></span>GitHub登录</a>
            </li>
        </ul>
    </div>
    <div id="content">
        <div class="note">
            <div class="note-head">
                <span class="delete fa fa-ban"></span>
            </div>
            <div class="note-ct">sahdkjsahdkjsahdjkhsajkdhsj</div>
        </div>
        <div class="note">
            <div class="note-head">
                <span class="delete fa fa-ban"></span>
            </div>
            <div class="note-ct">dhaskjdhkjsahdjkashdjhasjdhasjdhhdkajsdhjkasdh</div>
        </div>
        <div class="note">
            <div class="note-head">
                <span class="delete fa fa-ban"></span>
            </div>
            <div class="note-ct">dkjashdkjsahdjkashj</div>
        </div>
        <div class="note">
            <div class="note-head">
                <span class="delete fa fa-ban"></span>
            </div>
            <div class="note-ct">shdjkashdjksahdj</div>
        </div>
        <div class="note">
            <div class="note-head">
                <span class="delete fa fa-ban"></span>
            </div>
            <div class="note-ct"></div>
        </div>
        <div class="note">
            <div class="note-head">
                <span class="delete fa fa-ban"></span>
            </div>
            <div class="note-ct"></div>
        </div>
        <div class="note">
            <div class="note-head">
                <span class="delete fa fa-ban"></span>
            </div>
            <div class="note-ct"></div>
        </div>
        <div class="note">
            <div class="note-head">
                <span class="delete fa fa-ban"></span>
            </div>
            <div class="note-ct"></div>
        </div>
        <div class="note">
            <div class="note-head">
                <span class="delete fa fa-ban"></span>
            </div>
            <div class="note-ct"></div>
        </div>
        <div class="note">
            <div class="note-head">
                <span class="delete fa fa-ban"></span>
            </div>
            <div class="note-ct"></div>
        </div>
    </div>
    <script src="./js/index.js"></script>
</body>

</html>